/* Appliquer un fond vert eucalyptus à tout le site */
body {
    color: #4D5B60 !important;
    font-family: 'Sawarabi Mincho', serif !important;
    background-color: #A4C9B9 !important; /* Vert eucalyptus */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Centrer le contenu dans une carte blanche */
  #root {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  